@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #171717;
  }
}

* > * {
  font-size: 14px;
  user-select: none;
  font-family: var(--font-gilroy) !important;
}

.ant-btn .anticon-loading {
  top: -2.5px;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 500;
}

.ant-segmented {
  border-radius: 99px;
}

.ant-segmented .ant-segmented-item {
  padding-inline: 5px;
  padding-block: 1px;
  border-radius: 99px;
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #f26522;
  color: white;
  font-weight: 800;
}

.ant-segmented .ant-segmented-thumb {
  background-color: #f26522;
  border-radius: 99px;
}

.ant-input-affix-wrapper {
  border-radius: 99px;
  padding: 6px 14px;
  transition: all 0.3s;
}

.ant-input-affix-wrapper .ant-input-prefix {
  margin-inline-end: 10px;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within {
  border-color: #f26522;
  box-shadow: 0 0 0 2px rgba(243, 100, 33, 0.1);
}

.ant-input-outlined:hover {
  border-color: #f26522;
}

.ant-form-item .ant-form-item-explain-error {
  text-align: end;
  /* margin-block-start: 2px; */
  /* margin-block-end: 16px; */
  font-size: 12px;
}

.login.ant-btn {
  color: white;
  background-color: #f26522;
  border: none;
  border-radius: 12px;
  padding-inline: 32px;
  padding-block: 16px;
  font-weight: 700;
}

.ant-btn-sm {
  font-weight: 500;
}

.ant-btn-variant-solid {
  background-color: #f36421;
  padding: 12px 10px;
  border-radius: 9px;
  box-shadow: none;
}

.ant-btn-variant-link {
  color: #f36421;
}

.back.ant-btn {
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  background-color: rgb(229 231 235 / var(--tw-text-opacity, 1));
  border: none;
  border-radius: 12px;
  padding-inline: 32px;
  padding-block: 16px;
  font-weight: 700;
}

.nav-btn.ant-btn {
  color: white;
  background-color: #f26522;
  border: none;
  border-radius: 18px;
  padding-inline: 18px;
  padding-block: 18px;
  font-weight: 700;
}

.no-inline.ant-btn {
  color: white;
  background-color: #f26522;
  border: none;
  border-radius: 12px;
  padding-inline: 15px;
  padding-block: 18px;
  font-weight: 700;
}

.stroked-btn.ant-btn {
  color: #f26522;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 0.5px #f26522;
  border-radius: 9999px;
  padding-inline: 15px;
  padding-block: 12px;
  font-weight: 700;
  backdrop-filter: blur(12px);
}

.stroked-btn.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: rgba(242, 101, 34, 0.7);
  color: white;
  border: solid 1px #f26522;
  transition: all 0.3s;
}

.stroked-btn-2.ant-btn {
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px #e3e3e3;
  border-radius: 9999px;
  padding-inline: 15px;
  padding-block: 12px;
  font-weight: 700;
  backdrop-filter: blur(12px);
}

.stroked-btn-2.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: rgba(217, 217, 217, 0.7);
  color: black;
  border: solid 1px #e3e3e3;
  transition: all 0.3s;
}

.stroked-btn-3.ant-btn {
  color: rgba(239, 68, 68, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px rgba(239, 68, 68, 0.7);
  border-radius: 9999px;
  padding-inline: 15px;
  padding-block: 12px;
  font-weight: 700;
  backdrop-filter: blur(12px);
}

.stroked-btn-3.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: rgba(239, 68, 68, 0.7);
  color: white;
  border: 1px solid #ef4444;
  transition: all 0.3s;
}

.link-btn.ant-btn {
  color: rgba(31, 157, 246, 0.7);
  background-color: transparent;
  padding-inline: 0px;
  padding-block: 0px;
  font-weight: 700;
  backdrop-filter: blur(12px);
}

.link-btn-2.ant-btn {
  color: #f36421;
  background-color: transparent;
  box-shadow: none;
  padding-inline: 0px;
  padding-block: 0px;
  font-weight: 700;
  /* backdrop-filter: blur(12px); */
}

.link-btn-2.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: rgba(239, 68, 68) !important;
  background-color: transparent;
  transition: all 0.3s;
}

.link-btn-3.ant-btn {
  color: rgba(68, 108, 239, 0.7);
  background-color: transparent;
  box-shadow: none;
  padding-inline: 0px;
  padding-block: 0px;
  font-weight: 700;
  /* backdrop-filter: blur(12px); */
}

.link-btn-4.ant-btn {
  color: rgba(130, 130, 130, 0.7);
  background-color: transparent;
  box-shadow: none;
  padding-inline: 0px;
  padding-block: 0px;
  font-weight: 700;
  /* backdrop-filter: blur(12px); */
}

.link-btn-3.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: rgba(68, 108, 239);
  background-color: transparent;
  transition: all 0.3s;
}

.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
  border-color: #f26522;
  box-shadow: 0 0 0 2px rgba(243, 100, 33, 0.1);
  outline: 0;
  background-color: #ffffff;
}

.ant-picker-outlined:hover {
  border-color: #f26522;
  outline: 0;
  background-color: #ffffff;
}

.x-btn.ant-btn {
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  background-color: rgb(229 231 235 / var(--tw-text-opacity, 1));
  border: none;
  border-radius: 12px;
  padding-inline: 7px;
  padding-block: 16px;
  font-weight: 700;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  background: #ed1c45;
  color: white;
  border-color: none;
  transition: all 0.3s;
}

.back.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  background: #e3e3e3;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
  transition: all 0.3s;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 45px;
}

@media (max-width: 639px) {
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-inline-end: 20px;
  }
}

.ant-select-single .ant-select-selector .ant-select-prefix {
  padding-inline-end: 7px;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  font-weight: 500;
}

.ant-select-dropdown .ant-select-item {
  font-weight: 500;
  border-radius: 15px;
}

.ant-select-dropdown {
  border-radius: 16px !important;
}

.ant-input-number {
  border-radius: 12px !important;
}

.ant-input-number .ant-input-number-input {
  font-size: 16px !important;
  transform-origin: top left;
  width: 114.285714%;
  transform: scale(0.875);
  margin-top: 2.5px;
  margin-bottom: -4.5px;
}

.ant-input {
  border-radius: 12px;
  font-size: 16px !important;
  transform-origin: top left;
  width: 114.285714%;
  transform: scale(0.875);
  margin-bottom: -4.5px;
}

.ant-table-wrapper table tr th.ant-table-selection-column,
.ant-table-wrapper table tr td.ant-table-selection-column,
.ant-table-wrapper .ant-table-selection-column {
  padding-inline-end: 14px;
  padding-inline-start: 28px;
  text-align: center;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  font-weight: 600;
  border-radius: 15px !important;
}

.ant-dropdown .ant-dropdown-menu {
  border-radius: 16px;
}

.ant-divider-horizontal.no-margin {
  margin: 0;
}

.ant-divider-horizontal.no-margin2 {
  margin: 8px 0px;
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #f36421;
}

.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: #f36421;
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  box-shadow: 0 0 0 2px rgba(243, 100, 33, 0.1);
}

.ant-select-single {
  height: 36px;
}

.ant-modal .ant-modal-close {
  inset-inline-end: 20px;
  border-radius: 10px !important;
}

.ant-modal .ant-modal-title {
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 800;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

.ant-modal .ant-modal-content {
  border-radius: 18px;
}

.ant-input-number .ant-input-number-handler-wrap {
  border-start-end-radius: 12px;
  border-end-end-radius: 12px;
}

.ant-input-number-group .ant-input-number-group-addon:last-child {
  border-radius: 12px;
}

.ant-input-number-outlined:focus-within {
  border-color: #f36421;
}

.ant-input-number-outlined:hover {
  border-color: #f36421;
}

.ant-input-number
  .ant-input-number-handler:hover
  .ant-input-number-handler-up-inner {
  color: #f36421;
}

.ant-input-number
  .ant-input-number-handler:hover
  .ant-input-number-handler-down-inner {
  color: #f36421;
}

.ant-divider-horizontal {
  margin: 12px 0px;
}

.fnp.ant-form-item {
  margin-bottom: 0px;
}

.ant-progress .ant-progress-steps-item-active {
  border-radius: 3px;
  width: 20px !important;
}

.ant-progress .ant-progress-steps-item {
  border-radius: 3px;
  width: 18px !important;
  margin-inline: 1px;
}

.ant-progress .ant-progress-bg {
  background: #f36421;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #f36421;
  background-color: #f36421;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #f36421;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #f36421;
  background-color: #f36421;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-inner {
  border-color: #f36421;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #f36421;
  border-color: transparent;
}

textarea.ant-input {
  padding: 12px 16px;
  border-radius: 18px;
  font-size: 16px !important;
  transform-origin: top left;
  width: 114.285714% !important;
  max-width: 114.3% !important;
  transform: scale(0.875);
  margin-bottom: -16.5px;
  line-height: 1.35;
}

.ant-picker-dropdown .ant-picker-cell-disabled .ant-picker-cell-inner {
  background: transparent;
  font-weight: 500;
}

.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
  font-weight: 500;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner {
  color: #fff;
  background: #f26522;
  font-weight: 700;
  border-radius: 6px;
}

.ant-picker-dropdown .ant-picker-content th,
.ant-picker-dropdown .ant-picker-content td {
  position: relative;
  min-width: 24px;
  font-weight: 500;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1;
  border: none;
  border-radius: 4px;
  content: "";
}

.ant-picker-dropdown .ant-picker-cell-disabled:first-child::before {
  background: rgba(0, 0, 0, 0.04);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ant-picker-dropdown .ant-picker-cell-disabled:last-child::before {
  background: rgba(0, 0, 0, 0.04);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: rgba(243, 100, 33, 0.2);
  border-radius: 10px;
}

.ant-switch.ant-switch-checked {
  background: #f26522;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #f26522;
}

.ant-pagination .ant-pagination-item-active a {
  color: #f26522;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #f26522;
  border-radius: 8px;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: #f26522;
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: #f26522;
}

.ant-pagination .ant-pagination-item {
  margin-inline-end: 8px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px 4px;
}

.ant-collapse-content-box {
  padding: 0px 4px 0px 4px !important;
}

.ant-timeline .ant-timeline-item-head {
  background-color: transparent !important;
}

.ant-timeline .ant-timeline-item-content {
  inset-block-start: -10px;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #f26522;
  border-color: #f26522;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.ant-steps .ant-steps-item-icon .ant-steps-icon {
  position: relative;
  top: 0px !important;
  color: #f26522;
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
}

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  display: inline-block;
  padding: 8px 16px;
  backdrop-filter: blur(8px);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(226, 232, 240, 0.5);
  pointer-events: all;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  animation: message-slide-in 0.3s ease-out forwards;
}

@keyframes message-slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ant-message-success .ant-message-notice-content {
  border-left: 3px solid #10b981;
}

.ant-message-error .ant-message-notice-content {
  border-left: 3px solid #ef4444;
}

.ant-message-warning .ant-message-notice-content {
  border-left: 3px solid #f59e0b;
}

.ant-message-info .ant-message-notice-content {
  border-left: 3px solid #3b82f6;
}

.ant-message {
  top: 24px !important;
}

.ant-slider .ant-slider-mark-text {
  line-height: 1.2;
  padding-top: 6px;
  font-size: 12px;
  width: 70px !important;
}

@media (max-width: 767px) {
  .ant-slider .ant-slider-mark-text {
    word-break: break-word;
    white-space: normal;
    width: 50px;
    text-align: center;
  }
}

.ant-slider .ant-slider-track {
  background-color: #f59e0b;
}

.ant-slider:hover .ant-slider-track {
  background-color: #f36421;
}

.ant-slider .ant-slider-dot-active {
  border-color: #f36421;
}

.ant-slider:hover .ant-slider-dot-active {
  border-color: #f36421;
}

.ant-slider-horizontal.ant-slider-with-marks {
  margin-bottom: 32px;
  margin-left: -12px;
}

.grd-btn.ant-btn {
  font-weight: 800 !important;
  color: #f36421 !important;
  position: relative !important;
  background: linear-gradient(
    to bottom right,
    rgba(243, 100, 33, 0.2),
    rgba(243, 100, 33, 0.2)
  ) !important;
  border-radius: 9999px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid rgba(243, 100, 33, 0.1) !important;
  padding: 8px 16px;
  transition: all 0.3s !important;
}

.grd-btn.ant-btn:hover,
.grd-btn.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  background: linear-gradient(
    to bottom right,
    rgba(243, 100, 33, 0.3),
    rgba(243, 100, 33, 0.3)
  ) !important;
  color: #f36421 !important;
  border-color: transparent !important;
  border: 1px solid rgba(243, 100, 33, 0.3) !important;
}

.grd-btn.ant-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    to bottom right,
    rgba(243, 100, 33, 0.5),
    rgba(243, 100, 33, 0.5)
  );
  border-radius: 9999px;
  filter: blur(4px);
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s;
}

.grd-btn.ant-btn:hover::before {
  opacity: 0.4;
}

.grd-btn.ant-btn .btn-icon {
  margin-right: 6px;
}

.back-btn.ant-btn {
  font-weight: 700 !important;
  border-radius: 9999px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 8px 16px !important;
  transition: all 0.3s !important;
  position: relative !important;

  color: #4b5563 !important;
  background: #ffffff !important;
  border: 1px solid #d1d5db !important;
}

.back-btn.ant-btn:hover,
.back-btn.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: #4b5563 !important;
  background: #f9fafb !important;
  border-color: #9ca3af !important;
}

.back-btn.ant-btn .btn-icon {
  margin-right: 6px;
}

.ant-select-selector {
  padding: 16px !important;
  border-radius: 99px !important;
}

.ant-select,
.ant-select-selector,
.ant-input-affix-wrapper {
  touch-action: manipulation !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arc-spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 5px solid rgba(243, 100, 33, 0.2);
  border-top-color: #f36421;
  animation: spin 1s linear infinite;
}

.grd-btn-2.ant-btn {
  font-weight: 800 !important;
  color: #374151 !important;
  position: relative !important;
  background: linear-gradient(
    to right,
    rgb(156 163 175 / 0.2),
    rgb(229 231 235)
  ) !important;
  border-radius: 9999px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid rgb(17 24 39 / 0.1) !important;
  padding: 8px 16px;
  transition: all 0.3s !important;
}

.grd-btn-2.ant-btn:hover,
.grd-btn-2.ant-btn-variant-outlined:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background: linear-gradient(
    to right,
    rgb(156 163 175 / 0.3),
    rgb(156 163 175 / 0.4)
  ) !important;
  color: #374151 !important;
  border-color: transparent !important;
  border: 1px solid rgb(17 24 39 / 0.1) !important;
}

.grd-btn-2.ant-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    to bottom right,
    rgb(156 163 175 / 0.5),
    rgb(156 163 175 / 0.5)
  );
  border-radius: 9999px;
  filter: blur(4px);
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s;
}

.grd-btn-2.ant-btn:hover::before {
  opacity: 0.4;
}

.grd-btn-2.ant-btn .btn-icon {
  margin-right: 6px;
}

.ant-tooltip {
  --antd-arrow-background-color: white !important;
}

.ant-tooltip .ant-tooltip-inner {
  font-size: 12.25px !important;
  padding: 6px 12px !important;
  color: #000 !important;
  background-color: rgba(255, 255, 255) !important;
  border-radius: 16px !important;
}

.ant-picker {
  border-radius: 99px;
}

.ant-select-selector {
  padding: 16px !important;
  border-radius: 99px !important;
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-btns {
  padding: 10px !important;
}

.ant-dropdown .ant-table-filter-dropdown {
  border-radius: 16px !important;
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-search {
  padding: 10px !important;
}

.ant-dropdown .ant-table-filter-dropdown .ant-table-filter-dropdown-tree {
  padding: 10px !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 35s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused;
}

@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s ease-in-out infinite;
}
